<!doctype html>
<html lang="en" xmlns:th="www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	
	<section>
		<h1>this new about section </h1>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi vitae nisi alias nam aperiam accusantium illo in optio neque suscipit. Cupiditate sapiente magni dignissimos quos blanditiis quam numquam aspernatur provident.</p>
	</section>
	
</body>
</html>