<!DOCTYPE html>
<html xmlns:th="www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1 > hello world! <span 
th:style="${isActive} ? 'color: green': 'color:red'" 
th:text="${isActive} ? 'Active' : 'Not Active' ">
	
	
</span></h1>
<div  >
<h1 th:text="${gender} == 'F'">female</h1>

<div th:switch="${#lists.size(numbers)}">
	<h1 th:case="'0 ' ">List contain zero elemnt </h1>
	<h2 th:case="'1'">List contain one element </h2>
	<h1 th:case="*">List contain more than one elememnt </h1>
</div>
</div>
</body>
</html>