<!DOCTYPE html>
<html xmlns:th="www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>footer</title>
</head>
<body>
	<footer  th:fragment="footer1" >
		
		
		<div class="container">
			<h1> learning with abhishek </h1>
			<h2>spring boot		
			</h2>
		<p> 
			Lorem ipsum dolor sit amet, consectetur
			 adipisicing elit. A officiis consequuntur q
			 uisquam amet quo totam nemo sint sunt eveniet rem illo nesciunt ullam tempore
			  vitae eius aliquid cumque libero ratione deserunt fuga. 
			  Similique distinctio ipsa deleniti harum debitis non ad provident
			   voluptas doloremque sapiente quam eum quasi beatae corporis officiis sunt
			    unde et cum.</p>
		
		</div>
		
	</footer>
</body>
</html>